.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.appContainer{
  width:60%;
  height: 100%;
  border: 1px solid black;
  padding-bottom: 30px;
  margin: auto;
}

